@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #0f172a;
}

@keyframes wave {
  0%, 100% {
    height: 40%;
  }
  50% {
    height: 100%;
  }
}

.animate-wave {
  animation: wave 1.2s ease-in-out infinite;
}

.animation-delay-0 {
  animation-delay: 0s;
}
.animation-delay-200 {
  animation-delay: 0.2s;
}
.animation-delay-400 {
  animation-delay: 0.4s;
}
.animation-delay-600 {
  animation-delay: 0.6s;
}
.animation-delay-800 {
  animation-delay: 0.8s;
}
